USE [master]
GO
/****** Object:  Database [population_db]    Script Date: 30.04.2025 22:52:34 ******/
CREATE DATABASE [population_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'population_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\population_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'population_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\population_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [population_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [population_db]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 30.04.2025 22:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[President] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employment]    Script Date: 30.04.2025 22:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee] [int] NOT NULL,
	[Company] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 30.04.2025 22:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Father] [int] NULL,
	[Mother] [int] NULL,
	[Spouse] [int] NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Sex] [char](1) NOT NULL,
	[Salary] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id], [President], [Name]) VALUES (1, 1, N'TechCorp')
INSERT [dbo].[Company] ([Id], [President], [Name]) VALUES (2, 11, N'BizSolutions')
INSERT [dbo].[Company] ([Id], [President], [Name]) VALUES (3, 6, N'GreenTech')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Employment] ON 

INSERT [dbo].[Employment] ([Id], [Employee], [Company], [Type]) VALUES (1, 2, 1, N'zlecenie')
INSERT [dbo].[Employment] ([Id], [Employee], [Company], [Type]) VALUES (2, 3, 1, N'o_prace')
INSERT [dbo].[Employment] ([Id], [Employee], [Company], [Type]) VALUES (3, 3, 2, N'zlecenie')
SET IDENTITY_INSERT [dbo].[Employment] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Father], [Mother], [Spouse], [FirstName], [LastName], [BirthDate], [Sex], [Salary]) VALUES (1, NULL, NULL, 2, N'Jan', N'Kowalski', CAST(N'1965-05-10' AS Date), N'M', 8000.0000)
INSERT [dbo].[Person] ([Id], [Father], [Mother], [Spouse], [FirstName], [LastName], [BirthDate], [Sex], [Salary]) VALUES (2, NULL, NULL, 1, N'Anna', N'Kowalska', CAST(N'1968-07-12' AS Date), N'F', 7200.0000)
INSERT [dbo].[Person] ([Id], [Father], [Mother], [Spouse], [FirstName], [LastName], [BirthDate], [Sex], [Salary]) VALUES (3, 1, 2, 4, N'Tomasz', N'Kowalski', CAST(N'1990-03-15' AS Date), N'M', 5500.0000)
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_President] FOREIGN KEY([President])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_President]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [FK_Employment_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [FK_Employment_Company]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [FK_Employment_Employee] FOREIGN KEY([Employee])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [FK_Employment_Employee]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Father] FOREIGN KEY([Father])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Father]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Mother] FOREIGN KEY([Mother])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Mother]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Spouse] FOREIGN KEY([Spouse])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Spouse]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD CHECK  (([Type]='o_prace' OR [Type]='zlecenie'))
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD CHECK  ((datepart(year,[BirthDate])>=(1900)))
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD CHECK  (([Salary]>=(0)))
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD CHECK  (([Sex]='F' OR [Sex]='M'))
GO
USE [master]
GO
